.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 60px;
  font-family: sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 256px;
  margin-right: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  margin-right: 30px;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 650;
  padding: 0 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
  color: #f48428;
  transform: scale(1.1);
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 50px;
  margin-top: 10px;
}

.nav-links-mobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: white;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 20px;
  transition: all 0.5s ease-in-out;
  z-index: 12;
}

.nav-links-mobile li {
  margin: 10px 0;
  text-align: left;
  margin-left: 50px;
  text-decoration: none;
}

@media screen and (max-width: 1080px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    z-index: 12;
  }
  .navbar {
    margin-top: 20px;
  }
  .logo-image {
    height: 180px;
  }
}

a {
  text-decoration: none;
  font-weight: 520;
  font-family: sans-serif;
  color: black;
}
a:hover {
  color: #f48428;
}
